<div>
  <div class="row mt-4 justify-content-evenly text-center row-gap-4">
    <div class="col-5 border border-success">
      <a routerLink="hook/ngOnInit">
        <h3>NgOnInit Hook</h3>
      </a>
    </div>

    <div class="col-5 border border-success">
      <a routerLink="hook/ngOnChange">
        <h3>NgOnChange Hook</h3>
      </a>
    </div>

    <div class="col-5 border border-success">
      <a routerLink="hook/ngDoCheck">
        <h3>NgDoCheck Hook</h3>
      </a>
    </div>

    <div class="col-5 border border-success">
      <a routerLink="hook/afterContentInit">
        <h3>NgAfterContentInit Hook</h3>
      </a>
    </div>

    <div class="col-5 border border-success">
      <a routerLink="hook/afterContentCheck">
        <h3>NgAfterContentCheck Hook</h3>
      </a>
    </div>

    <div class="col-5 border border-success">
      <a routerLink="hook/afterViewInit">
        <h3>NgAfterViewInit Hook</h3>
      </a>
    </div>
    <div class="col-5 border border-success">
      <a routerLink="hook/afterViewChecked">
        <h3>NgAfterViewChecked Hook</h3>
      </a>
    </div>
    <div class="col-5 border border-success">
      <a routerLink="hook/onDestroy">
        <h3>NgOnDestroy Hook</h3>
      </a>
    </div>
  </div>
</div>
